@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Tutorial Case
   
   Visual Effects Style Sheet for Photo Page at Tree and Book
    Author: lennye shumate 
    Date:   10/30/18   
   
   Filename: tb_visual2.css

*/
div {
    text-align: center;
}




img {
    width: 68%;


}

h1 {
    text-align: center;
}

body {
    text-align: center;
    background: peachpuff;
}



nav {
    float: left;
    clear: both;
    display: block;
    text-decoration-line: underline;

}

article {
    background: rgb(204, 92, 92);
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}


/*
.dropdown-content {
    display: none;
    position: absolute;
    background-color: peachpuff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;

}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;

}

div {
    list-style: none;

    margin: auto;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: brown;
}
*/

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

footer {
    background: rgb(204, 92, 92);
    display: inline;
}

img#len {
    float: left;
    display: inline;
}